.welcome-title {
    font-family: 'Poppins', sans-serif;
    font-size: 180px;
    font-weight: 800;
    color: #333;
    animation: fadeIn 2s ease-in-out infinite alternate;
}

.welcome-subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #555;
    margin-top: -20px;
}

@keyframes fadeIn {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 0.9;
    }
}
