/* MAIN */

main {
    background-image: var(--BODY-BGIMAGE);
    height: 100%;
    border-radius: var(--BORDER-RADIUS);
    border-left: var(--BORDERS);
    border-right: var(--BORDERS);
    box-shadow: 0 0 10px var(--BORDER-COLOR);
    overflow-y: auto;
}

/* WELCOME PAGE */

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome__h1 {
    font-size: clamp(3rem, 13vw, 12rem);
    overflow: hidden;
    font-weight: 900;
    background-image: var(--BGIMAGE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(80, 80, 80, 0.3);
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
    animation: grow ease 4s;
    animation-iteration-count: 1;
}

@keyframes grow {
    0% {
        transform: scale(0.2);
    }
    50% {
        transform: scale(1.3) rotate(-3deg);
    }
}

.welcome__p {
    font-size: clamp(1rem, 3vw, 4rem);
    padding-top: 2rem;
    padding-left: 5rem;
    font-weight: bolder;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.heart {
    display: inline-block;
    font-size: 0.8em;
    animation: pulse 1.2s infinite ease-in-out;
}

@keyframes pulse {
    0%, 70% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.2);
        color: red;
    }
    40% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
        color: red;
    }
}

/* REGISTRATION/LOGIN PAGE */

.welcome__article {
    border: var(--BORDERS);
    background-color: rgba(255, 255, 255, 0.6);
    padding: 2rem;
    margin: 0 20%;
    box-shadow: 0 0 10px var(--BORDER-COLOR);
    border-radius: var(--BORDER-RADIUS);
}

.article__h2 {
    font-size: clamp(2rem, 3vw, 4rem);
    padding-bottom: 2rem;
    text-align: center;
}

.form__fieldset {
    border: none;
    padding-bottom: 2rem;
}

.form__p {
    padding-bottom: var(--PADDING);
}

.form__label {
    display: block;
    font-weight: bolder;
}

.form__input {
    padding: 0.4rem;
    border-radius: var(--BORDER-RADIUS);
    border-width: 1px;
    width: 100%;
}

.form__button {
    border: var(--BORDERS);
    border-radius: var(--BORDER-RADIUS);
    padding: 0.4rem;
    background-color: rgba(255, 255, 255, 0.6);
    font-weight: bolder;
}

/* HOME PAGE */

 .home {
     overflow-y: auto;
     display: grid;
     grid-template-rows: 1fr 3fr;
 }

 .home__article {
     margin: 1.5rem;
 }

.quote {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    justify-content: center;
    align-items: center;
    padding: var(--PADDING);
    overflow: hidden;
    background-color: rgba(130, 130, 130, 0.3);
    border-radius: var(--BORDER-RADIUS);
    min-height: 60px;
}

.quote__h2 {
    font-size: clamp(0.4rem , 2vw, 2rem);
}

.quote__h2::before {
    content: open-quote;
}

.quote__h2::after {
    content: close-quote;
}

.quote__p {
    transform: translateX(30%);
    font-size: clamp(0.4rem , 1.4vw, 1.2rem);
}

.quote__p::before {
    content: '- ';
}

.recommend {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 0;
    margin-bottom: 100px;
}

.recommend__h1 {
    font-size: clamp(0.2rem , 3vw, 2rem);
    text-transform: uppercase;
    text-decoration: underline;
    font-style: italic;
    text-align: center;
    margin-bottom: 2rem;

}

.recommend__h2 {
    font-size: clamp(0.2rem , 2vw, 1.4rem);
}

.recommend__h2::before {
    content: '** ';
}

.recommend__section {
    display: flex;
    padding: var(--PADDING) 10%;
    align-items: center;
    justify-content: center;
}

.recommend__a {
    font-size: clamp(0.2rem , 2vw, 1.4rem);
    border: var(--BORDERS);
    box-shadow: 0 0 10px var(--BORDER-COLOR);
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.5);
}

/* DATABASE PAGE */

.database {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.database__h1 {
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin: 10px var(--MARGIN) 0;
    padding: var(--PADDING) var(--PADDING) 0;
    background-color: rgba(130, 130, 130, 0.3);
    border-top-left-radius: var(--BORDER-RADIUS);
    border-top-right-radius: var(--BORDER-RADIUS);
}

.search__note {
    font-size: clamp(0.5rem, 1.2vw, 1rem);
    margin: 0 var(--MARGIN);
    padding: 0 var(--PADDING) var(--PADDING);
    background-color: rgba(130, 130, 130, 0.3);
    border-bottom-left-radius: var(--BORDER-RADIUS);
    border-bottom-right-radius: var(--BORDER-RADIUS);
}

.note__span {
    animation: warning 4s infinite ease-in-out;
    font-weight: bold;
    text-decoration: underline;
}

@keyframes warning {
    30% {
        color: deeppink;
    }
}

.search__form {
    display: flex;
    margin: 0 var(--MARGIN);
    padding: 3px var(--PADDING);
    justify-content: space-between;
    border: var(--BORDERS);
    border-radius: var(--BORDER-RADIUS);
    background-color: rgba(255, 255, 255, 0.6);
    align-items: center;
    box-shadow: 0 0 10px var(--BORDER-COLOR);
}

.search, .filter {
    border: none;
}

.search {
    flex: 6;
}

.filter {
    flex: 2;
}

.search__label, .filter__label {
    font-weight: bolder;
}

.search__input {
    display: block;
    width: 90%;
}

.search__p {
    margin: 2px;
}

.search__span__error {
    color: red;
}

.search__buttons {
    margin: 5px var(--MARGIN);
    font-size: 80%;
    display: flex;
    gap: var(--GAP);
    font-weight: bolder;
}

.result__h1 {
    font-size: clamp(1rem, 2vw, 1.5rem);
    background-color: rgba(130, 130, 130, 0.3);
    border-radius: var(--BORDER-RADIUS);
    padding: 3px var(--PADDING);
    margin: var(--MARGIN) var(--MARGIN) 0;
}

.sort__form {
    margin: 0 var(--MARGIN);
    padding: 3px var(--PADDING);
    justify-content: space-between;
    border: var(--BORDERS);
    border-radius: var(--BORDER-RADIUS);
    background-color: rgba(255, 255, 255, 0.6);
    align-items: center;
    box-shadow: 0 0 10px var(--BORDER-COLOR);
}

.sort__fieldset {
    display: flex;
    justify-content: space-between;
    border: none;
    font-weight: bold;
}

.sort__sort {
    flex: 2;
}

.sort__poster {
    flex: 8
}

.result__noResult, .result__error {
    margin: var(--MARGIN);
    padding: var(--PADDING);
    font-size: 120%;
    font-weight: bold;
}

.result__container__oneRow {
    margin: 5px var(--MARGIN);
    padding: var(--PADDING);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 250px);
    gap: 10px;
}

.result__container__twoRows {
    margin: 5px var(--MARGIN);
    padding: var(--PADDING);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 250px);
    gap: 10px;
}

.item__card {
    border: var(--BORDERS);
    border-radius: var(--BORDER-RADIUS);
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    box-shadow: 0 0 4px var(--BORDER-COLOR);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 3fr 1fr;
    gap: 10px;
}

.item__image {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item__actions {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.item__action__button:hover, .detailsButton:hover {
    text-decoration: none;
}

.item__title {
    grid-column: 1 / -1;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.pagination__container, .pagination__list {
    display: flex;
    grid-column: 2 / 5;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    gap: 30px;
    list-style: none;
}

.pagination__container {
    border: var(--BORDERS);
    border-radius: var(--BORDER-RADIUS);
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 4px var(--BORDER-COLOR);
}

.pagination__list__item a:hover {
    text-decoration: none;
}

.pagination__list__item p {
    opacity: 0.5;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal__content {
    border: var(--BORDERS);
    border-radius: var(--BORDER-RADIUS);
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 4px var(--BORDER-COLOR);
    padding: 20px;
    width: 80%;
    height: 90%;
    max-height: 600px;
    max-width: 1000px;
    position: relative;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-content: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1rem;
}

.close-button:hover {
    text-decoration: none;
}

.modal__card {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 1fr 5fr 0.5fr;
    gap: 10px;
}

.modal__h1 {
    grid-column: 1 / -1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
}

.modal__action {
    grid-column: 1 / -1;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.modal__action__button {
    border: var(--BORDERS);
    box-shadow: 0 0 10px var(--BORDER-COLOR);
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: var(--BORDER-RADIUS);
}

.modal__action__button:hover {
    text-decoration: none;
}

.modal__img {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.modal__img img{
    width: auto;
    height: auto;
}

.modal__data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    grid-column: 2;
    grid-row: 2;
    padding-left: 20px;
    overflow-y: auto;
    max-height: 100%;
}

.modal__data__type {
    font-weight: bold;
    font-size: 110%;
}

.details__p {
    padding-left: 20px;
}

.season__container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.season__container a:hover, .episode__container a:hover {
    text-decoration: none;
    font-weight: bolder;
}

.episode__container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.show__season__series__container {
    display: flex;
    padding: 20px;
    gap: var(--GAP);
}

.show__season__button, .show__series__button {
    font-size: clamp(0.2rem , 1vw, 1rem);
    border: var(--BORDERS);
    box-shadow: 0 0 10px var(--BORDER-COLOR);
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: var(--BORDER-RADIUS);
}

.show__season__button:hover, .show__series__button:hover {
    text-decoration: none;
}
